@page "/editgame";
@inject NavigationManager NavigationManager

<PageTitle>New game</PageTitle>

<h3>New Game</h3>

@if (genres is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@game" FormName="editGame" OnSubmit="HandleSubmit">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="game.Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre:</label>
                    <InputSelect id="genre" @bind-Value="game.GenreId" class="form-select">
                        <option value="">Select a genre</option>
                        @foreach (var genre in genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="game.Price" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="releaseDate" class="form-label">Release date:</label>
                    <InputDate id="releaseDate" @bind-Value="game.ReleaseDate" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Create Game</button>
                <a href="/" role="button" class="btn btn-secondary"> Cancel</a>
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromForm]
    private GameDetails game { get; set; } = new()
        {
            Name = string.Empty,
            ReleaseDate = DateOnly.FromDateTime(DateTime.UtcNow)
        };

    private GenresClient _genresClient = new();
    private GamesClient _gamesClient = new();

    private Genre[]? genres;

    protected override void OnInitialized()
    {
        genres = _genresClient.GetGenres();
    }

    private void HandleSubmit()
    {
        _gamesClient.AddGame(game);
        NavigationManager.NavigateTo("/");
    }
}
