@page "/editgame";
@using GameStore.Frontend.Models

<PageTitle>New game</PageTitle>

<h3>New Game</h3>
<EditForm Model="@game" FormName="editGame">
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <InputText id="name" @bind-Value="game.Name" class="form-control" />
    </div>

</EditForm>

@code {
    private GameDetails game { get; set; } = new()
        {
            Name = string.Empty,
            ReleaseDate = DateOnly.FromDateTime(DateTime.UtcNow)
        };
}
