@page "/"

<PageTitle>Game Catalog</PageTitle>

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release date</th>
        <th></th>
    </thead>
</table>>
